<html>
<body>
	<div>
		<div class="message">
			<p class="title"> <?php echo $results['arrMessage'][0]['title']; ?> </p>
			<p> <?php echo $results['arrMessage'][0]['message']; ?> </p>
		</div>
		<div class="comment">
			<?php
			foreach($results['arrComment'] as $i) : ?>
				<div><p> <?php echo $i['comment']; ?> </p></div>
			<?php endforeach ?>
		</div>
		<form method="post">
			<p>Add a Comment</p>
			<textarea name="comment" rows="4" cols="50">
			</textarea>
			</br>
			<input type="submit" name="save" value="Add Comment"/>
		</form>
	<div>
</body>
</html>